html,
body,
canvas {
	background-color: '#006ead' no-repeat center center fixed;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}